@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: radial-gradient(circle at center, #2a3f6f, rgb(3 2 19))
    rgb(3 2 19);
  height: 100vh;
  height: 100svh;
}
